{% load i18n future mezzanine_tags account %}

{% if request.user.is_authenticated %}
	{% user_display user as user_display %}
    {% trans "Logged in as: " %}
    <a href="{{ profile_url }}">{{ user_display }}</a><br>
    <a href="{% url "account_logout" %}?next={{ request.path }}"
        class="btn btn-small btn-danger btn-account">{% trans "Log out" %}</a>
{% else %}
    <a href="{% url "account_login" %}?next={{ request.path }}"
        class="btn btn-small btn-account">{% trans "Log in" %}</a>
    {% trans "or" %}
    <a href="{% url "account_signup" %}?next={{ request.path }}"
        class="btn btn-small btn-account">{% trans "Sign up" %}</a>
{% endif %}
