{% extends "admin/base_site.html" %}
{% load i18n future staticfiles %}

{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="container">
	{% if form.non_field_errors %}
	{% for error in form.non_field_errors %}
	<p class="errornote">{{ error }}</p>
	{% endfor %}
	{% endif %}
	{% if no_site_permission %}
	<p class="errornote">{% trans "You don't have permission to access the admin for this site." %}</p>
	{% endif %}
	
	<form action="{{ app_path }}" method="post" id="login">
	    {% csrf_token %}
	    <ul>
	        <li id="username">
	            <input type="text" name="username" id="username_input" class="required" placeholder="{% trans 'Username or email' %}" value="{{ request.POST.username }}">
	        </li>
	        <li id="password">
	            <input type="password" name="password" placeholder="{% trans 'Password' %}">
	            <input type="hidden" name="this_is_the_login_form" value="1" />
	        </li>
	    </ul>
	    <div class="pull-left">
	    	{% if request.get_full_path = "/config/" %}
		    	<input id="remember_me" type="checkbox" name="remember_me" checked />
		    	<label class="checkbox" for="remember_me">
		    		{% trans "Stay logged in for two weeks" %}
		    	</label>
		    	<br />
		    {% endif %}
		    <input id="interface_admin" type="radio" name="mezzanine_login_interface" value="admin"{% if request.REQUEST.mezzanine_login_interface != "site" %} checked{% endif %} />
		    <label class="radio" for="interface_admin">
		    	{% trans "Admin Panel" %}
		    </label>
		    <input id="interface_site" type="radio" name="mezzanine_login_interface" value="site"{% if request.REQUEST.mezzanine_login_interface == "site" %} checked{% endif %} />
		    <label class="radio" for="interface_site">
		    	{% trans "Website" %}
		    </label>
	    </div>
	    <a id="reset" href="{% url "password_reset" %}">{% trans "Reset your password" %}</a>
	    <button class="btn btn-inverse" type="submit">{% trans 'Login' %}</button>
	    <div class="clearfix">
	</form>	
</div>

{% endblock %}

