/* ==========================================================================
	 ADMIN STYLESHEET
	 ========================================================================== */
#login {
  max-width: 400px;
}
#login ul {
  display: block;
  width: 100%;
}
#login ul li {
  margin-bottom: 10px;
  padding: 6px 8px 6px 8px;
  list-style: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
}
#login ul li.error {
  border: 1px solid #b12b12;
}
#login ul input,
#login ul textarea {
  width: 100%;
  color: #555555;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#login ul input {
  height: 26px;
}
#login ul textarea {
  height: 150px;
}
#login ul input::-webkit-input-placeholder,
#login ul textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
#login ul input:-moz-placeholder,
#login ul textarea:-moz-placeholder {
  color: #aaaaaa;
}
#login ul input::-moz-placeholder,
#login ul textarea::-moz-placeholder {
  color: #aaaaaa;
}
#login ul input:-ms-input-placeholder,
#login ul textarea:-ms-input-placeholder {
  color: #aaaaaa;
}
#login ul li.error input::-webkit-input-placeholder,
#login ul li.error textarea::-webkit-input-placeholder {
  color: #b12b12;
}
#login ul li.error input:-moz-placeholder,
#login ul li.error textarea:-moz-placeholder {
  color: #b12b12;
}
#login ul li.error input::-moz-placeholder,
#login ul li.error textarea::-moz-placeholder {
  color: #b12b12;
}
#login ul li.error input:-ms-input-placeholder,
#login ul li.error textarea:-ms-input-placeholder {
  color: #b12b12;
}
#login button {
  float: right;
}
#login .radio,
#login #reset {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
label,
input {
  vertical-align: middle;
}
label {
  margin: 0 20px 0 3px;
}
button {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTExIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+');
  background-image: -moz-linear-gradient(-90deg, #333 5%,#111 100%);
  background-image: -webkit-linear-gradient(-90deg, #333 5%,#111 100%);
  background-image: -o-linear-gradient(-90deg, #333 5%,#111 100%);
  background-image: linear-gradient(180deg, #333 5%,#111 100%);
  border: 1px solid #444444;
  padding: 9px 18px;
  text-decoration: none;
  background-color: #333333;
  color: #555555;
  display: inline-block;
}
button:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzExMSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+');
  background-image: -moz-linear-gradient(-90deg, #111 5%,#333 100%);
  background-image: -webkit-linear-gradient(-90deg, #111 5%,#333 100%);
  background-image: -o-linear-gradient(-90deg, #111 5%,#333 100%);
  background-image: linear-gradient(180deg, #111 5%,#333 100%);
  background-color: #111111;
}
button:active {
  position: relative;
  top: 1px;
}
